Package: python3-gi
Source: pygobject (3.38.0-1)
Version: 3.38.0-1+b2
Architecture: armhf
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 605
Depends: gir1.2-glib-2.0 (>= 1.48.0), python3 (<< 3.10), python3 (>= 3.9~), python3:any, libc6 (>= 2.4), libffi7 (>= 3.3~20180313), libgirepository-1.0-1 (>= 1.62.0-4~), libglib2.0-0 (>= 2.53.1)
Section: python
Priority: optional
Homepage: https://wiki.gnome.org/Projects/PyGObject
Description: Python 3 bindings for gobject-introspection libraries
 GObject is an abstraction layer that allows programming with an object
 paradigm that is compatible with many languages. It is a part of Glib,
 the core library used to build GTK+ and GNOME.
 .
 This package contains the Python 3 binding generator for libraries that
 support gobject-introspection, i. e. which ship a gir1.2-<name>-<version>
 package. With these packages, the libraries can be used from Python 3.
